{% extends "core.html" %}
{% load i18n %}
    {% block head %}
    <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button> 
                <a class="navbar-brand" href="{% url "containerview" %}">Swiftbrowser</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                    {% if session.username %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <strong class="hidden-xs">{{session.username}}</strong>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                {% block menu_addons %}{% endblock %}
                                <li>
                                    <a href="{% url "login" %}">
                                    <i class="glyphicon glyphicon-remove-sign"></i>
                                    {% trans 'Logout' %}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url "login" %}">
                                <strong> {% trans 'Login' %}</strong>
                            </a>
                            </li>
                    {% endif %}
                    </ul>
                </div>
                </div>
        </nav>

        <noscript>
            <div class="container">
                    <div class="alert alert-error">
                        <button type="button" class="close" data-dismiss="alert">
                            &times;
                        </button>
                        <strong>{% trans 'Warning!' %}</strong>
                        {% trans 'You need JavaScript enabled to use all functions on this site.' %}
                    </div>
            </div>
        </noscript>
    {% endblock %}

    {% block content %}
    {% endblock %}
