{% extends "base.html" %}
{% load l10n %}
{% load i18n %}
{% load dateconv %}
{% load lastpart %}
{% block content %}

{% include 'pleasewaitdialog.html' %}

<div class="container">
{% include "messages.html" %}

        <ol class="breadcrumb">
            <li><a href="{% url "containerview" %}">Containers</a></li> 
            <li><a href="{% url "objectview" container=container %}">{{container}}</a></li>

            {% for prefix in prefixes %}
                <li>
                    <a href="{% url "objectview" container=container prefix=prefix.full_name %}">{{prefix.display_name}}</a>
                </li>
            {% endfor %}

       </ol> 
    {% if public %}
            
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{% trans 'Public URL:' %}</strong>
            <a href="{{ base_url }}{% url "public_objectview" account=account container=container %}" target="new">
                {{ base_url }}{% url "public_objectview" account=account container=container %}
            </a>
        </div>
 
    {% endif %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width: 0.5em;" class="hidden-xs"></th>
            <th>{% trans 'Name' %}</th>
            <th style="width: 12.5em;" class="hidden-xs">{% trans 'Created' %}</th>
            <th style="width: 6em;" class="hidden-xs">{% trans 'Size' %}</th>
            <th style="width: 1em;">
                <div class="dropdown pull-right">
                <a class="dropdown-toggle btn btn-default btn-xs btn-danger" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        {% if prefix %}
                        <a href="{% url "upload" container=container prefix=prefix %}">
                        {% else %}
                        <a href="{% url "upload" container=container %}">
                        {% endif %}
                        <i class="glyphicon glyphicon-upload"></i> Upload
                        </a>
                    </li>
                    <li class="divider" />
                    <li>
                        {% if prefix %}
                        <a href="{% url "create_pseudofolder" container=container prefix=prefix %}">
                        {% else %}
                        <a href="{% url "create_pseudofolder" container=container %}">
                        {% endif %}
                        <i class="glyphicon glyphicon-folder-open"></i> Create pseudofolder
                        </a>
                    </li>
                </ul>
                </div>
            </th>
        </tr>
        </thead>
        {% if folders or objects %} 
        <tbody>
        {% for folder in folders %}
            <tr>
                <td class="hidden-xs"><i class="glyphicon glyphicon-inbox"></i></td>
                <td> 
                    <a href="{% url "objectview" container=container prefix=folder.0 %}"><strong>{{folder.0|lastpart}}</strong></a>
                </td>
                <td class="hidden-xs"></td>
                <td class="hidden-xs"></td>

                    <td>
                    <a href="{% url "delete_object" container=container objectname=folder.1 %}" class="btn btn-default btn-xs btn-danger" onclick="return confirm('{% trans 'Delete object' %} {{key.name}}?');" ><i class="glyphicon glyphicon-trash"></i></a>
                    </td>
            </tr>
        {% endfor %}

        {% for key in objects %}
            <tr>
                <td class="hidden-xs"><i class="glyphicon glyphicon-file"></i></td>
                <td><a href="{% url "download" container=container objectname=key.name %}" class="block">{{key.name|lastpart}}</a></td>
                <td class="hidden-xs">{{key.last_modified|dateconv|date:"SHORT_DATETIME_FORMAT"}}</td>
	            <td class="hidden-xs">{{key.bytes|filesizeformat}}</td>
                    <td>
                    <div class="dropdown pull-right">
                        <a class="dropdown-toggle btn btn-default btn-xs btn-danger" data-toggle="dropdown"><i class="glyphicon glyphicon-chevron-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url "tempurl" container=container objectname=key.name %}"><i class="glyphicon glyphicon-time"></i> {% trans 'Temporary URL' %}</a></li>
                            <li class="divider" />
                            <li><a href="{% url "delete_object" container=container objectname=key.name  %}" onclick="return confirm('{% trans 'Delete object' %} {{key.name}}?');" ><i class="glyphicon glyphicon-trash"></i> Delete object</a></li>
                        </ul>
                    </div>
                </td>
            </tr>

        {% endfor %}
        </tbody> 
        {% else %}
        <tbody>
            <tr>
                <th colspan="5" class="center">
                    <strong><center>{% trans 'There are no objects in this container yet. Upload new objects by clicking the red button.' %}<center></strong>
                </th>
            </tr>
        </tbody>
        {% endif %}
        <tfoot><tr><td colspan="5"></td></tr></tfoot>
    </table>
    <form id="dropzone" action="/upload/{{ container }}/{{ prefix|default:"" }}" method="post" enctype="multipart/form-data">
    <input type="hidden" name="redirect" value="{{ redirect_url }}" />
    <input type="hidden" name="max_file_size" value="{{ max_file_size }}" />
    <input type="hidden" name="max_file_count" value="{{ max_file_count }}" />
    <input type="hidden" name="expires" value="{{ expires }}" />
    <input type="hidden" name="signature" value="{{ signature }}" />
    {% csrf_token %}
    <div class="well">
    <input type="text" name="filetmp" id="filetmp" placeholder="{% trans 'Drop file here' %}" class="form-control">
    </div>
    </form>
</div>
{% endblock %}

{% block jsadd %}
<script type="text/javascript">
// https://css-tricks.com/drag-and-drop-file-uploading/
function handleUpload(file) {
    var form = $('#dropzone');
    var formData = new FormData(form.get(0));
    formData.append('file', file);
    
    $.ajax({
        url: form.attr('action'),
        method: form.attr('method'),
        data: formData,
        dataType: 'json',
        cache: false,
        contentType: false,
        processData: false,
        complete: function() { location.reload(); },
    });
}

$(document).ready(function () {
    $(document).on('drop', function(e) {
        e.preventDefault();
        e.stopPropagation();
    });
    $(document).on('dragover', function(e) {
        e.preventDefault();
        e.stopPropagation();
    });
    $('#dropzone').on('drop', function(e) {
        e.preventDefault();
        e.stopPropagation();
        showPleaseWaitDialog();
        files = e.originalEvent.dataTransfer.files;
        $.each(files, function(index, file) {
            handleUpload(file);
        });
    });
});
</script>
{% endblock %}
